@font-face {
    font-family: Lexend;
    src: url(../fonts/Lexend-ExtraLight.ttf);
}

@font-face {
    font-family: Lexend-Bold;
    src: url(../fonts/Lexend-Bold.ttf);
}

@font-face {
    font-family: Lexend-Regular;
    src: url(../fonts/Lexend-Regular.ttf);
}