@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend-ExtraLight.ttf);
}
@font-face {
  font-family: Lexend-Bold;
  src: url(../fonts/Lexend-Bold.ttf);
}
@font-face {
  font-family: Lexend-Regular;
  src: url(../fonts/Lexend-Regular.ttf);
}
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: #F7DCDC;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_box {
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_box .form {
  position: relative;
  z-index: 3;
  left: 63px;
  padding: 111px 80px;
  width: 510px;
  height: 626px;
  background: rgba(255, 255, 255, 0.8);
  mix-blend-mode: normal;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 24px;
}
.main_box .form_logo {
  width: 100%;
  text-align: center;
}
.main_box .form img {
  width: 175px;
  height: 56px;
}
.main_box .form_title {
  font-family: "Lexend-Bold";
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  color: #FFC468;
  margin-top: 40px;
}
.main_box .form_openeye {
  display: none;
}
.main_box .form_input {
  margin: auto;
}
.main_box .form_input-username {
  position: relative;
}
.main_box .form_input-username i {
  position: absolute;
  color: #000;
  left: 18px;
  top: 6px;
}
.main_box .form_input-username input[type=text] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 350px;
  height: 36px;
  background: #e0e0e0;
  border-radius: 8px;
  border: none;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 40px;
  padding-left: 42px;
  padding-right: 16px;
}
.main_box .form_input-pass {
  position: relative;
}
.main_box .form_input-pass i {
  position: absolute;
  color: #000;
  left: 18px;
  top: 6px;
}
.main_box .form_input-pass .eye {
  position: absolute;
  left: 88%;
  top: 0px;
  cursor: pointer;
}
.main_box .form_input-pass input[type=password] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 350px;
  height: 36px;
  background: #e0e0e0;
  border-radius: 8px;
  border: none;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 23px;
  padding-left: 42px;
  padding-right: 42px;
}
.main_box .form_input-pass input[type=text] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 350px;
  height: 36px;
  background: #e0e0e0;
  border-radius: 8px;
  border: none;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 23px;
  padding-left: 42px;
  padding-right: 42px;
}
.main_box .form_btnsignin {
  font-family: "Lexend-Bold";
  color: #e0e0e0;
  border: none;
  display: flex;
  margin-top: 48px;
  margin-left: 78px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 42px;
  background: #1F497D;
  border-radius: 24px;
  order: 4;
}
.main_box .form_forgot {
  font-family: "Lexend";
  display: flex;
  justify-content: center;
  font-style: normal;
  font-size: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  margin-top: 35px;
}
.main_box .frame {
  position: relative;
  z-index: index 1;
  right: 63px;
  width: 590px;
  height: 725px;
  border-radius: 24px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}
.main_box .frame img {
  border-radius: 24px;
}
.main_box .frame_ball {
  position: absolute;
  top: 128px;
  left: 192px;
  z-index: 1;
}
.main_box .frame_title {
  width: 370px;
  height: 43px;
  font-family: "Lexend-Bold";
  margin-right: 90.5px;
  z-index: 2;
  position: absolute;
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  top: 317.5px;
  right: -11px;
  letter-spacing: 0.25px;
  color: #1c1c1c;
}
.main_box .frame_subtitle {
  width: 370px;
  height: 25px;
  font-family: "Lexend-Regular";
  z-index: 2;
  font-weight: 400;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  display: flex;
  line-height: 25px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.15px;
  top: 383.5px;
  left: 140px;
  color: #1c1c1c;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#messageErr {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #c1341b;
  margin-top: 5px;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .main .form {
    left: 0pt;
    position: relative;
    text-align: center;
    width: 80%;
  }
  .main .form__logo {
    width: 100%;
    text-align: center;
  }
  .main .form img {
    width: 70%;
    height: 70%;
  }
  .main .form_title {
    text-align: center;
    font-family: "Lexend-Bold";
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFC468;
    margin-top: 40px;
  }
  .main .form_openeye {
    display: none;
  }
  .main .form_input {
    margin: auto;
    width: 85%;
    position: absolute;
    left: 8%;
  }
  .main .form_input-username {
    position: relative;
  }
  .main .form_input-username i {
    position: absolute;
    color: #000;
    left: 18px;
    top: 6px;
  }
  .main .form_input-username input[type=text] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 36px;
    background: #e0e0e0;
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
    padding-left: 42px;
    padding-right: 16px;
  }
  .main .form_input-pass {
    position: relative;
  }
  .main .form_input-pass i {
    position: absolute;
    color: #000;
    left: 18px;
    top: 6px;
  }
  .main .form_input-pass .eye {
    position: absolute;
    left: 88%;
    top: 0px;
    cursor: pointer;
  }
  .main .form_input-pass input[type=password] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 36px;
    background: #e0e0e0;
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 23px;
    padding-left: 42px;
    padding-right: 42px;
  }
  .main .form_input-pass input[type=text] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 36px;
    background: #e0e0e0;
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 23px;
    padding-left: 42px;
    padding-right: 42px;
  }
  .main .form_btnsignin {
    font-family: "Lexend-Bold";
    color: #e0e0e0;
    border: none;
    display: flex;
    margin-top: 30px;
    margin-left: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    font-size: 12px;
    background: #1F497D;
    border-radius: 20px;
    order: 4;
  }
  .main .form_forgot {
    font-family: "Lexend";
    display: flex;
    justify-content: center;
    font-style: normal;
    font-size: 12px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #000000;
    margin-top: 8%;
  }
  .main .frame {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .main .form {
    left: 0pt;
    position: relative;
    text-align: center;
    width: 100%;
    height: 65vh;
  }
  .main .form__logo {
    width: 100%;
    text-align: center;
  }
  .main .form img {
    width: 90%;
    height: 90%;
  }
  .main .form_title {
    text-align: center;
    font-family: "Lexend-Bold";
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFC468;
    margin-top: 40px;
  }
  .main .form_openeye {
    display: none;
  }
  .main .form_input {
    margin: auto;
    width: 85%;
    position: absolute;
    left: 8%;
  }
  .main .form_input-username {
    position: relative;
  }
  .main .form_input-username i {
    position: absolute;
    color: #000;
    left: 18px;
    top: 6px;
  }
  .main .form_input-username input[type=text] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 36px;
    background: #e0e0e0;
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
    padding-left: 42px;
    padding-right: 16px;
  }
  .main .form_input-pass {
    position: relative;
  }
  .main .form_input-pass i {
    position: absolute;
    color: #000;
    left: 18px;
    top: 6px;
  }
  .main .form_input-pass .eye {
    position: absolute;
    left: 84%;
    top: 0px;
    cursor: pointer;
  }
  .main .form_input-pass input[type=password] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 36px;
    background: #e0e0e0;
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 23px;
    padding-left: 42px;
    padding-right: 42px;
  }
  .main .form_input-pass input[type=text] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: 36px;
    background: #e0e0e0;
    border-radius: 8px;
    border: none;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 23px;
    padding-left: 42px;
    padding-right: 42px;
  }
  .main .form_btnsignin {
    font-family: "Lexend-Bold";
    color: #e0e0e0;
    border: none;
    display: flex;
    margin-top: 30px;
    margin-left: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    font-size: 12px;
    background: #1F497D;
    border-radius: 20px;
    order: 4;
  }
  .main .form_forgot {
    font-family: "Lexend";
    display: flex;
    justify-content: center;
    font-style: normal;
    font-size: 12px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #000000;
    margin-top: 8%;
  }
  .main .frame {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */